.mm93 {
    width: 400px;
    margin-right: 20px;

}
header {

    background: linear-gradient(90deg, rgba(75,36,36,1) 70%, rgba(134,1,1,1) 100%);
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}
main { width: 80%;
 margin: auto;
}
.principal{ 
    text-align: center;
    color: rgb(180, 41, 41);
    margin-top: 100px;
    margin-bottom: 50px;
     font-family: "Bebas Neue", sans-serif;
     padding-top: 50px;
}

h3 {
    margin-right: 50px;
}

.productos {
    color: rgb(180, 41, 41);
}

.precio {
    color: black;
    font-weight: bold;
}

.moto {
   width: 400px;
   display: flex;
   float: right;
   margin-left: 50px;
   border-radius: 50px;
}

body{
    margin: 0;
    background: rgb(187,187,187);
    background: linear-gradient(90deg, rgba(187,187,187,1) 70%, rgba(125,118,118,1) 100%);
    font-family: "Montserrat", sans-serif;
}

.logo {
    width: 150px;
}

.logo-2 {
    width: 150px;
    
}

.navegacion {
    background-color: rgb(75,36,36) !important;
}

.caballito {
    width: 400px;
    border-radius: 50px;
    box-shadow: 20px 10px 20px rgb(75,36,36);

}

.campeon {
    width: 400px;
    border-radius: 50px;
    margin-bottom: 50px;
    box-shadow: 20px 10px 20px rgb(75,36,36);

}

.campeonatos {
    color: white;
}

.cervera {
    margin-left: 50px;
    color: white;
}

div {
    display: flex;
    align-items: center;
   padding: 50px;
}

footer {
     width: 100%;
      background: var(--background-footer);
      height: 200px;
      padding-top: 20px;
      display: flex;
      float: none; 
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(90deg, rgba(75,36,36,1) 70%, rgba(134,1,1,1) 100%);
}

.social-media {
    width: 50px;
    padding: 5px;
    margin-left: 50px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
   display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

}

.monotraje {
    width: 300px;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}
.monotraje:hover {
  transform: scale(1.1);
}


.mono {
    display: flex;
    align-items: center;
    padding: 50px;

}

.ocho {
     display: flex;
     flex-direction: row-reverse;
    align-items: center;
    padding: 50px;
}

.boots {
    width: 400px;
    margin-top: 50px;
    margin-right: 100px;
    border-radius: 50px;
    transition: transform 0.3s ease;
    margin-left: 50px;
    margin-bottom: 100px;
}

.boots:hover {
    transform: scale(1.1);
}

.botines {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 padding: 50px;
}


.fondo {
 background-image: url(../assets/marc-fondo.jpg);
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  background-size: cover;
  background-blend-mode: multiply;
  
}

.redes {
    text-decoration: none;
    color: white;
}

.carrusel-img {
    width: 400px;
    margin-bottom: 50px;
}

.carousel {
    width: 70%;
    margin: auto;
}
